<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Word</title>
</head>
<body>
    <h1>Find a Word</h1>
    <form action="/words/foundWord" method="GET">
      <label for="word">Word</label><br />
      <input id="word" name="word" type="text" placeholder="Word" /><br />
      <br />
      <button type="submit">Add To Dictionary</button>
    </form>

    <% if(word!==null){ %><hr /> <h2><%= word.word %>: </h2><p><%= word.definition %> </p><% } %> 
</body>
</html>