<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Dictionary</h1>
    <%if(words){ for(let word in words){ %>
    <h2>
      <%=`${words[word].word[0].toUpperCase()}${words[word].word.slice(1)}` %>:
    </h2>
    <p><%= words[word].definition %></p>
    <hr />
    <% }} %>
  </body>
</html>
